/*header{
	font-family: courier;
	text-align: center;
	font-size: 12vmin;
	color: white;
}

#headd{
	top: 20%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

#temp{
	position: absolute;
	top: 36%;
	width: 100%;
	overflow: hidden;
}

#temp ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;
	position: relative;
	float: left;
	display: block;
	left: 50%;
}

#temp ul li{
		position: relative;
		float: left;
		display: block;
		right: 58.3%;
}

li a{
	display: block;
	color: white;
	width:250px;
	text-decoration: none;
	text-align: center;
	font-size:3vmin;
	float: left;
	position: relative;
}

a{
	border: 1vmin;
	margin: 10px;
	float:left;
	text-align: center;
	white-space:nowrap;
	font-family: courier;
	background-color: transparent;
}

li a:hover{
	color: inherit;
	color: red;
}

body{
	background-image: url("hombak.jpg");
	background-size: cover;
	background-color: black;
}

.fa{
	padding: 1vmin;
	width: 20px;
	text-align:center;
	text-decoration: none;
	border-radius: 20%;
}

.fa:hover{
	background-color: red;
	color: white;
}

.fa-facebook{
	background: #3B5998;
	color: white;
}

.fa-twitter{
	background: #55ACEE;
	color: white;
}

.fa-instagram{
	color: white;
	background:#ff0080;
}



#icons{
	list-style: none;
}

#last{
	position: absolute;
	width: 100%;
	overflow: hidden;
	top: 80%;
}
#last ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	display: block;
	left: 50%;
}

#last ul li{
		position: relative;
		float: left;
		display: block;
		right: 57%;
}

.marquee{
	height: 50px;	
	overflow: hidden;
	position: relative;
}

.marquee h3 {
 font-size: 3vmin;
 font-family: courier;
 color: white;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */

 /*-moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 /*-moz-animation: marquee 15s linear infinite;
 -webkit-animation: marquee 15s linear infinite;
 animation: marquee 15s linear infinite;
}
/* Move it (define the animation) */
/*@-moz-keyframes marquee {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 /*-webkit-transform: translateX(100%); /* Firefox bug fix */
 /*transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 /*-webkit-transform: translateX(-100%); /* Firefox bug fix */
 /*transform: translateX(-100%); 
 }
*/
h1{
	color: #333;
    /*background-color: #e6b800 !important;*/
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}

.jumbotron{
	/*background-color: #e6b800 !important;
	color: white !important;
	padding: 100px 25px;
	font-family: courier;*/
	}

.page-header{
	text-align: center;
}

.btn-group{
	align-items: center;
}

.bg-grey{
	background-color: #f6f6f6;
}

.container-fluid{
	padding: 60px 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
    /*background-color:#e6b800 !important;*/
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
	background-image: url("nav.png");
	width: 100%;
	height:auto;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #f2f2f2 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

body{
	font-family: courier;
}

.carousel-inner img {
  margin: auto;
}